@font-face {
    font-family: 'Stor';
    src: url('fonts/Stor.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Stor', serif;
    background-color: #000;
    color: #fff;
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Убирает боковой скроллбар */
    overflow-y: auto;   /* Добавляет вертикальный скроллбар */
    scroll-behavior: smooth; /* Плавная прокрутка */
}

.container {
    text-align: center;
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 20px;
}

.profile-photo {
    width: 250px; /* Увеличение размера фото */
    height: 250px;
    border-radius: 50%;
    border: 5px solid #fff;
    margin-bottom: 20px;
}

.bio-content {
    max-width: 800px; /* Увеличение ширины контента */
    margin: 0 auto;
    line-height: 1.6;
    padding: 20px;
}

.menu-icon {
    position: fixed;
    top: 20px;
    right: 20px;
    cursor: pointer;
    z-index: 10;
    transition: transform 0.3s; /* Анимация при наведении */
}

.menu-icon:hover {
    transform: rotate(90deg); /* Вращение иконки при наведении */
}

.menu-icon-bar {
    width: 30px;
    height: 4px;
    background-color: #fff;
    margin: 5px 0;
}

.menu-list {
    display: none;
    position: fixed;
    top: 60px;
    right: 20px;
    background-color: #333;
    list-style-type: none;
    padding: 10px;
    border-radius: 8px;
    z-index: 5;
    width: 200px;
    max-height: calc(100vh - 60px);
    overflow-y: auto;
    transition: opacity 0.3s, transform 0.3s; /* Анимация появления меню */
    opacity: 0;
    transform: translateX(20px);
}

.menu-list.show-menu {
    display: block;
    opacity: 1;
    transform: translateX(0);
}

.menu-list li {
    margin: 10px 0;
    text-align: center;
}

.menu-list li a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 10px;
    transition: transform 0.3s, background-color 0.3s;
    font-size: 18px;
}

.menu-list li a i {
    margin-right: 8px; /* Отступ для иконок */
}

.menu-list li a:hover {
    transform: scale(1.1);
    background-color: #fff;
    color: #000;
}

.link {
    color: #f0f0f0;
    text-decoration: underline;
    transition: color 0.3s;
}

.link:hover {
    color: #ffd700;
}

#comment-form {
    margin-top: 20px;
}

#comment-text {
    width: 100%;
    max-width: 600px;
    border-radius: 5px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #333;
    color: #fff;
}

button {
    margin-top: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #fff;
    color: #000;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #ffd700;
    color: #000;
}

/* Стили для скроллбаров */
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb {
    background-color: #555;
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background: #333;
}
